[data-color-mode=light]
  --main-color $accentColor
  --border-color $borderColor
  --background-color $backgroundColor
  --active-background-color $activeBackgroundColor
  --color-text-primary $textColor

[data-color-mode=dark]
  --main-color $darkAccentColor
  --border-color $darkBorderColor
  --background-color $darkBackgroundColor
  --active-background-color $darkActiveBackgroundColor
  --color-text-primary $darkTextColor
