@font-face {
  font-family: "iconfont"; /* Project id 2770893 */
  src: url('/font/iconfont.woff2?t=1629963674494') format('woff2'),
       url('/font/iconfont.woff?t=1629963674494') format('woff'),
       url('/font/iconfont.ttf?t=1629963674494') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e635";
}

