// light 颜色
$accentColor = #3DB2FF
$textColor = #191919
$borderColor = #eaecef
$codeBgColor = #011627
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$backgroundColor = #ffffff
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$activeBackgroundColor = #f3f5f7

// dark 颜色
$darkAccentColor = #3DB2FF
$darkBorderColor = #768390
$darkBackgroundColor = #2d333b
$darkActiveBackgroundColor = #22272e
$darkTextColor = #adbac7

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px